table.chessBoard {
    margin: 5px auto;
    background: #ffffff;
}
td.chessBoard {
    width: 60px; height: 60px;
    border: 2px solid #333;
    font-size: 35px;
}
td.ends {
    width: 60px; height: 60px;
    font-size: 30px;
}
tr.chessBoard:nth-child(even) td.chessBoard:nth-child(odd) ,
tr.chessBoard:nth-child(odd) td.chessBoard:nth-child(even) {
    background: #696969;
}